{% extends '::base.html.twig' %}
{% block body %}
<p>Enorabuena acabas de insertar un nuevo jugador!</p>
  <h1>{{TablaPlantilla.nombre }}</h1>
  <h1>{{TablaPlantilla.apellidos }}</h1>
  <h1>{{TablaPlantilla.posicion }}</h1>
  <h1>{{TablaPlantilla.edad }}</h1>
{% endblock %}
